# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: a8ba33cc28d2bda52600bf712ef8b99c04c6fce84b07cc6cca03f796e7aaa31d99624ddbe8445bb4ac14727548880cd5535cc498a8529a2beb99dfcbed64837d

test:
  secret_key_base: f783c5b90745e739d3284d185050adb8d8127881c571874410283ea484df477f7b9778d0b8a0c4f446e0e62eb799067cc14c759f4c6683ff91a9576c06ad8e70

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
