%div.container-fluid{"ng-app" => "dictionary"}
  %div.panel-body
    %form.form-inline
      %div.form-group
        %input.form-control{type: "text", placeholder: "Enter pane name", autofocus:true, "ng-model" => "name"}
    %h5
      %small{"ng-if" => "name"} $: {{name}}
